@mixin transform-rotate($rotate){
	-webkit-transform: rotate($rotate +'deg');
	-moz-transform: rotate($rotate +'deg');
	-ms-transform: rotate($rotate +'deg');
	transform: rotate($rotate +'deg');
}

.box { 
	@include transform-rotate(45); 
}