.message{
	border:1px solid #bbb;
	background:#ddd;
	color:#333;
	padding:6px 12px;
}
.success{
	@extend .message;
	
	border-color:#3f3;
	background-color:#3f3;
}
.warning{
	@extend .message;
	
	border-color:#fa1;
	background-color:#fa1;
}
.error{
	@extend .message;
	
	border-color:#f11;
	background-color:#f11;
}