/* Import Google Webfonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300italic,300);

/* Body */
body {
	background: #FAFAFA;
	
	font-family: 'Roboto', sans-serif;
}

/* Header */
.header-wrapper {
	background: #283593;
	color: #FAFAFA;
	margin-bottom: 1rem;
}
.header-wrapper header {
	margin-bottom: -1rem;
}
.header__logo>h1>span {
	display: none;
}
.header__logo>h1::before {
	content: "B";
	
	display: inline;
	padding: 0.5rem;
	
	background: #0097A7;
	color: #283593;
}
.header__logo>h1::after {
	content: "Gent";
	
	display: inline;
	padding: 0.5rem;
	
	color: #0097A7;
}
.header__logo>h2 {
	display: none;
}

/* List, Listitem */
.list {
	margin: 0;
	padding: 0;
}
.listitem {
	background: #EEEEEE;
	
	list-style-type: none;
	
	padding: 1rem;
	margin-bottom: 1rem;
}
.listitem:last-of-type {
	margin-bottom: 0;
}
.listitem>article>h3 {
	margin: 0 0 1rem;
	padding: 0;
}

/* Table */
.table {
	border-collapse: collapse;
	width: 100%;
}
.table>thead>tr {
	background: #E0E0E0;
}
.table tr td,
.table tr th {
	padding: 0.5rem;
	
	border: 1px solid #E0E0E0;
}

/* Gent births */
.ghent-births-total {
	margin-bottom: 1rem;
}