/* Import Google Webfonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300italic,300);

/* Body */
body {
	background: #FAFAFA;
	
	font-family: 'Roboto', sans-serif;
}

/* Header */
.header-wrapper {
	background: #283593;
	color: #FAFAFA;
	margin-bottom: 1rem;
}
.header-wrapper header {
	margin-bottom: -1rem;
}
.header__logo>h1>span {
	display: none;
}
.header__logo>h1::before {
	content: "\f099";
	
	font-family: Fontawesome;
	
	display: inline;
	padding: 0.5rem;
	
	background: #0097A7;
	color: #283593;
}
.header__logo>h1::after {
	content: "Tweety";
	
	display: inline;
	padding: 0.5rem;
	
	color: #0097A7;
}
.header__logo>h2 {
	display: none;
}

/* Add New Tweet */
.row--edit>div {
	margin-bottom: 0;
}
#frm-tweet-create {
	color: #283593;
}
#frm-tweet-create>fieldset {
	border: none;
}
#frm-tweet-create>fieldset>legend {
	display: none;
}
#frm-tweet-create textarea {
	width: 100%;
	max-width: 100%;
	resize: vertical;
}

/* Tweets */
.tweets>ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.tweets>ul>li {
	padding: 0.5rem 1rem;
	background: #EEEEEE;
	margin-bottom: 0.5rem;
}
.tweets>ul>li:last-of-type {
	margin-bottom: 0;
}
.tweet::before, .tweet::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; 
}
.tweet::after {
	clear: both; 
}
.tweet__content {
	float: left;
	display: block;
	margin-left: 1rem;
	
	font-weight: 500;
}