/* Body */
body {
	background: #FAFAFA;
	
	font-family: 'Roboto', sans-serif;
}

/*
* Helpers
*/
.clearfix::before, .clearfix::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; 
}
.clearfix::after {
	clear: both; 
}

/*
* Header
*/
#header::before, #header::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; 
}
#header::after {
	clear: both; 
}
#header__logo {
	float: left;
}
#header__logo > h1 > a {
	display: block;
	width: 101.81818px;
	height: 112px;
	
	background: url('images/logo.png') no-repeat top left;
	background-size: cover;
}
#header__logo > h1 > a > span {
	display: none;
}
#header__logo > h2 {
	display: none;
}
#header__navigation {
	float: right;	
}
#header__navigation > ul {
	list-style: none;
	
	margin: 0;
	padding: 0;
}
#header__navigation > ul > li {
	float: left;
}
.navigation__item {
	display: block;
	padding: 0.5rem 1rem;
	
	border: 1px solid #a0a0a0;
	
	text-decoration: none;
}