/* Body */
body {
	background: #FAFAFA;
	
	font-family: 'Roboto', sans-serif;
}

/*
* Helpers
*/
.clearfix::before, .clearfix::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; 
}
.clearfix::after {
	clear: both; 
}

/*
* Header
*/
#header-wrapper {
	background: rgba(250,250,250 ,1);
	-webkit-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
}
#header-wrapper > div > div > div {
	margin-bottom: 0;
}
#header::before, #header::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; 
}
#header::after {
	clear: both; 
}
#header__logo {
	float: left;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
#header__logo > h1 {
	margin: 0;
	padding: 0;
}
#header__logo > h1 > a {
	display: block;
	width: 101.81818px;
	height: 112px;
	
	background: url('images/logo.png') no-repeat top left;
	background-size: cover;
}
#header__logo > h1 > a > span {
	display: none;
}
#header__logo > h2 {
	display: none;
}
#header__navigation {
	float: right;
	width: 100%;	
}
#header__navigation > ul {
	list-style: none;
	
	margin: 0;
	padding: 0;
}
#header__navigation > ul > li {
	float: left;
	width: 100%;
}
.navigation__item {
	display: block;
	height: 32px;
	line-height: 32px;
	padding-left: 1rem;
	padding-right: 1rem;
	
	background: rgba(97,187,70,1);
	
	text-decoration: none;
	color: rgba(250,250,250, 1);
	font-weight: 700;
	text-transform: uppercase;
}
li:nth-of-type(2) .navigation__item {
	background: rgba(253,184,39, 1);
}
li:nth-of-type(3) .navigation__item {
	background: rgba(245,130,31, 1);
}
li:nth-of-type(4) .navigation__item {
	background: rgba(224,58,62, 1);
}
li:nth-of-type(5) .navigation__item {
	background: rgba(150,61,151, 1);
}
@media (min-width: 30rem) {
	#header__navigation {
		width: 100%;
	}
	#header__navigation > ul > li {
		width: 50%;
	}
	.navigation__item {
		height: 64px;
		line-height: 64px;
		
		text-align: center;
	}
}
@media (min-width: 42.5rem) {
	#header__navigation {
		width: auto;
	}
	#header__navigation > ul > li {
		width: auto;
	}
	.navigation__item {
		height: 128px;
		line-height: 128px;
		
		text-align: left;
	}
}