/* Import Google Webfonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300italic,300);

/* Body */
body {
	background: #FAFAFA;
	
	font-family: 'Roboto', sans-serif;
}

/* Header */
.header-wrapper {
	background: #283593;
	color: #FAFAFA;
	margin-bottom: 1rem;
}
.header-wrapper header {
	margin-bottom: -1rem;
}
.header__logo>h1>span {
	display: none;
}
.header__logo>h1::before {
	content: "\f258";
	
	font-family: Fontawesome;
	
	display: inline;
	padding: 0.5rem;
	
	background: #0097A7;
	color: #283593;
}
.header__logo>h1::after {
	content: "RandomUserMe";
	
	display: inline;
	padding: 0.5rem;
	
	color: #0097A7;
}
.header__logo>h2 {
	display: none;
}

/* RandomUserMe poeples */
.rum-users>ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.rum-users>ul>li {
	padding: 0.5rem 1rem;
	background: #EEEEEE;
	margin-bottom: 0.5rem;
}
.rum-users>ul>li:last-of-type {
	margin-bottom: 0;
}
.user {
	position: relative;
}
.user::before, .user::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; 
}
.user::after {
	clear: both; 
}
.user__picture {
	width: 48px;
	height: 48px;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	overflow: hidden;
	display:block;
	float: left;
	margin-right: 1rem;
	border: 4px solid #0097A7;
}
.user__picture>img {
	width: 100%;
}
.user__name {
	display: block;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 48px;
	text-transform: capitalize;
}
.user__details-link {
	position: absolute;
	right: 8px;
	top: 0;
	text-decoration: none;
}
.user__details-link:hover {
	text-decoration: none;
}
.user__details-link .fa {
	display: block;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 64px;
	color: #0097A7;
}