/* Import Google Webfonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300italic,300);

/* Body */
body {
	background: #FAFAFA;
	
	font-family: 'Roboto', sans-serif;
}

/* Buttons */
.btn {
	padding: 0.5rem 1rem;
	background: #0097A7;
	color: #FAFAFA;
	border: 0;
}

/* Header */
.header-wrapper {
	background: #283593;
	color: #FAFAFA;
	
	margin-bottom: 1rem;
}
.header-wrapper header {
	margin-bottom: -1rem;
}
.header__logo>h1>span {
	display: none;
}
.header__logo>h1::before {
	content: "\f099";
	
	font-family: Fontawesome;
	
	display: inline;
	padding: 0.5rem;
	
	background: #0097A7;
	color: #283593;
}
.header__logo>h1::after {
	content: "Trees";
	
	display: inline;
	padding: 0.5rem;
	
	color: #0097A7;
}
.header__logo>h2 {
	display: none;
}

/* Tree */
.trees-inventory-list>ul {
	margin: 0;
	padding: 0;
}
.tree {
	position: relative;
    min-height: 200px;
    overflow: hidden;
    z-index: 1;
	box-sizing: border-box;
	
	font-size: 1rem;
    font-weight: 400;
    
    background: #fff;
    border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.tree__title {
	padding: 1rem;
}
.tree__title > h3 {
	padding: 0;
	margin: 0;
}
.tree__text {
	padding: 1rem;
}
.tree__meta {
	border-top:1px solid #a0a0a0;
	padding: 1rem;
}
.meta__dimensions {
	margin-bottom: 0.5rem;
}
.dimensions__height {
	margin-right: 1rem;
}
.dimensions__height::before {
	content: '\f034';
	font-family: FontAwesome;
	margin-right: 0.5rem;
}
.dimensions__diameter::before {
	content: '\f1ce';
	font-family: FontAwesome;
	margin-right: 0.5rem;
}
.other__dayofbirth::before {
	content: '\f073';
	font-family: FontAwesome;
	margin-right: 0.5rem;
}
.tree__geo-distance {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}
.tree__geo-distance::before {
	content: '\f14e';
	font-family: FontAwesome;
	margin-right: 0.5rem;
	font-size: 1.2rem;
}
.tree__geo-distance::after {
	content: ' km';
}