/* Countries */
.countries-list>ul {
	padding: 0;
}
.country {
	position: relative;
    overflow: hidden;
    z-index: 1;
	box-sizing: border-box;
	
	font-size: 1rem;
    font-weight: 400;
    
    background: #fff;
	border: 1px solid #c0c0c0;
    border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.country__flag {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 4rem;
}
.country__title {
	padding: 1rem;
	min-height: 112px;
	margin-right: 5rem;
}
.country__title > h3 {
	padding: 0;
	margin: 0;
}
.country__place {
	border-top:1px solid #c0c0c0;
	padding: 1rem;
	min-height: 96px;
}
.country__money {
	border-top:1px solid #c0c0c0;
	padding: 1rem;
}
.place__region {
	display: block;
}
.place__city {
	display: block;
}
.place__region::before {
	content: '\f0ac';
	font-family: FontAwesome;
	margin-right: 0.5rem;
}
.place__city::before {
	content: '\f1ad';
	font-family: FontAwesome;
	margin-right: 0.5rem;
}
.money__income-level {
	display: block;
}
.money__lending-type {
	display: block;
}
.money__income-level::before {
	content: '\f0d6';
	font-family: FontAwesome;
	margin-right: 0.5rem;
}
.money__lending-type::before {
	content: '\f09d';
	font-family: FontAwesome;
	margin-right: 0.5rem;
}