/* Import Google Webfonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300italic,300);

/* Body */
body {
	background: #FAFAFA;
	
	font-family: 'Roboto', sans-serif;
}

/* Header */
.header-wrapper {
	background: #283593;
	color: #FAFAFA;
	margin-bottom: 1rem;
}
.header-wrapper header {
	margin-bottom: -1rem;
}
.header__logo>h1>span {
	display: none;
}
.header__logo>h1::before {
	content: "\f118 ";
	
	font-family: Fontawesome;
	
	display: inline;
	padding: 0.5rem;
	
	background: #0097A7;
	color: #283593;
}
.header__logo>h1::after {
	content: "Ghent Pets";
	
	display: inline;
	padding: 0.5rem;
	
	color: #0097A7;
}
.header__logo>h2 {
	display: none;
}

/* List Items */
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Dogs Services */
.dogs-service table {
	width: 100%;
}
.dogs-service table > tbody > tr:first-of-type {
	display: none;
}
.dogs-service table > tbody > tr > th:first-of-type {
	width: 20%;
	text-align: left;
}